.pagi-row {
    font-size: 20px;
    width: 519px;
    margin: 0 auto;
}

.outer {
    width: 100%; 
    max-width: 800px; 
    margin: 0 auto;
}

.font-format, .font-format ng-template{
    font-size: 20px; 
    font-weight: bold;
}