<div class="outer col-sm-6">

  <div class="row my-3 font-format">
    <div class="col-md-12">
      <label for="search-category" class="mr-5">Filter By City Name:</label>
      <input type="text" placeholder="Enter A Bank City" (input)="getNumberOfFilteredBankLocations()" [(ngModel)]="term2bfiltered" class="form-control mr-3 col-5" id="search-category">
    </div>
  </div>

  <div class="col-sm-12 my-1"  *ngIf="numberOfItems !== 0; else noItemsFound">

    <div class="row font-format">
      <div class="col-md-2">Nr</div>
      <div class="col-md-5"> <span>City Name</span> </div>
      <div class="col-md-5">Bank Id</div>
    </div>

    <app-bank data-toggle="modal" data-target="#exampleModal" class="bank-selector"
      (click)="transmitBankDetails(item)" [bankDetails]="item" 
      *ngFor="let item of appData | bankfilter:term2bfiltered | paginate: { itemsPerPage: 10, currentPage: pge }; let i = index" 
      [indexx]="i">
    </app-bank>

    <div style="font-size: 22px;">
      <div *ngIf="numberOfItems !== 0; else noItemsFound">
        Total Number of Banks: <span *ngIf="numberOfItems; else alternative">{{ numberOfItems }}</span> <ng-template #alternative>{{ appData?.length }}</ng-template>
      </div>
      
    </div>

  </div>
  <div class="col-md-12">
    <ng-template #noItemsFound>There is no city found for this search term.</ng-template>
  </div>
  

  <div class="pagi-row my-4">
    <pagination-controls (pageChange)="pge = $event"></pagination-controls>
  </div>
</div>


