<!-- Display static information -->
<div class="row px-3">
    <div class="badge badge-info col-sm-12 ml-sm-auto mr-sm-auto">
        <h4 class="text-center"> HALIFAX Banks listed by City </h4>
    </div>
  </div>
  
  <!-- Display list contents -->
  <div class="row">
    <div class="col-sm-12">
      <app-banks [appData]="appData"></app-banks>
    </div>
  </div>
    
    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Halifax Bank Details</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              
              <div class="col-sm-12">
                <div class="badge badge-info col-sm-12 text-center">
                  <h5>Welcome to {{ bankDetailsObject?.Name }} bank</h5>
                </div>
                
                <p>You can mail any concerns to us by using the following mailing address:</p>
                <div>
                  <ul class="list-group">
                      <div class="list-group-item d-flex justify-content-between align-items-center">
                        <div><strong>Address: </strong></div> <span>{{ bankDetailsObject?.PostalAddress.AddressLine[0] }}</span>
                      </div>
                      <li class="list-group-item d-flex justify-content-between align-items-center">
                        <span><strong>City: </strong> </span> <span>{{ bankDetailsObject?.PostalAddress.TownName }}</span>
                      </li>
                      <li class="list-group-item d-flex justify-content-between align-items-center">
                        <span><strong>Sub Division: </strong> </span> <span>{{ bankDetailsObject?.PostalAddress.CountrySubDivision[0] }}</span>
                      </li>
                      <li class="list-group-item d-flex justify-content-between align-items-center">
                          <span><strong>Post Code: </strong> </span> <span>{{ bankDetailsObject?.PostalAddress.PostCode }}</span>
                      </li>
                      <li class="list-group-item d-flex justify-content-between align-items-center">
                          <span><strong>Country: </strong> </span> <span>{{ bankDetailsObject?.PostalAddress.Country }}</span>
                      </li>
                    </ul>
  
                </div>
                <div class="my-2">
                  <ul class="list-group">
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                      <strong> Telephone:</strong> <span>{{ bankDetailsObject?.ContactInfo[0].ContactContent }}</span>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>


