<div class="row my-2 bank bank-item">
  <div class="col-md-2">{{ indexx }}</div>
  <div class="col-md-5 bank-item"><p id="town-name" class="item-name">{{ bankDetails.PostalAddress.TownName }}</p> </div>
  <div class="col-md-5 bank-item"><p>{{ bankDetails.Identification }}</p> </div>
</div>
