.bank {
    border-bottom: solid 1px #ebebe1;
    cursor: pointer;
}

.item-name {
    max-width: 250px;
    width: 100%;
}

.bank-item p {
    background-color: #ebebe1;
    width: 219px;
    text-align: center;
    margin: 0;
    padding: 7px;
}

