/* You can add global styles to this file, and also import other style files */

app-banks .outer {
  border: solid 2px #ccc;
  border-radius: 30px;
  background-color: #f8f5f5;
  margin-bottom: 40px;
  padding: 15px 25px;
  color: #7b7e7e;
}
